.style-switcher {
    position: fixed;
    right: -250px;
    top: 125px;
    padding: 15px;
    width: 250px;
    border: 1px solid var(--white-color);
    background: var(--white-color);
    z-index: 9999999;
    border-radius: 5px;
    transition: all .3s ease;
    /* transform: translateX(100%); */
}
.style-switcher.open {
    right: 10px;
}
.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--white-color);
    color: var(--black-color);
    right: 100%;
    border: 1px solid var(--white-color);
    margin-right: 25px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i {
    line-height: 40px;
}
.style-switcher .style-switcher-toggler {
    top: 0;
}
.style-switcher .settings-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: #eee;
}
.style-switcher .settings-container .option-box h4 {
    margin: 0;
    color: #666;
    width: 100%;
    font-size: 14px;
}
.style-switcher .settings-container .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.style-switcher .settings-container .option-box .colors-list li {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #eee;
}
.style-switcher .settings-container .option-box .colors-list li.active {
    border-color:  white;
}
.style-switcher .settings-container .option-box .colors-list li:first-child {
    background-color: #FF9800;
}
.style-switcher .settings-container .option-box .colors-list li:nth-child(2) {
    background-color: #E91E63
}
.style-switcher .settings-container .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.style-switcher .settings-container .option-box .colors-list li:nth-child(4) {
    background-color: #03a9f4;
}
.style-switcher .settings-container .option-box .colors-list li:nth-child(5) {
    background-color: #4caf50; 
}

